<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Portal Mulheres na TI</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
    <link href="/styles/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
      
    <div class="header">
      <!--<p class="teste">teste</p>-->
      <button class="tabs">Contato</button>
      <button class="tabs">Conheça</button>
      <button class="tabs">Responda o quizz</button>

    </div>
    <div class="home">
      <h1 class="centralized">
        Nossa que lindo este site
      </h1>
    </div>
    
  </body>
</html>